@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600&family=Dancing+Script&family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600&family=Dancing+Script&family=Poppins:ital,wght@1,300;1,700&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2163ed;
}
.container {
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #2163ed;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.container .form h2 {
  /* color: #ee18ee; */
  color: #5cffff;
  font-weight: 500;
  font-size: 30px;
  font-family: "Alexandria", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Tilt Prism", cursive;
  /* letter-spacing: 0.1em; */
}
.container .form .inputBox {
  position: relative;
  width: 300px;
}
.container .form .inputBox input {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #2163ed;
  border: 1px solid rgba(0, 0, 0, 00.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}
.container .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: bisque;
}
.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span {
  color: #fff;
  border: 1px solid #2163ed;
  background: #5b88eb;
  transform: translateX(25px) translateY(-25px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}
.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
  border: 1px solid #2163ed;
}

.container .form .inputBox i {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ff1247;
  width: 25px;
  padding-right: 8px;
  padding: 2px 0;
  border-right: 1px solid #ff1247;
}
.container .form .inputBox input[type="submit"] {
  background-color: #319cdf;
  color: #fff;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
}
.container .form p {
  /* color: #ee18ee; */
  color: #800000;
  font-size: 1em;
  font-weight: 600;
}
.container .form p a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.container .form.signin,
.container.signinForm .form.signup {
  display: none;
}
.container.signinForm .form.signin {
  display: flex;
}
